<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stderr="true" bootstrap="bootstrap.php" colors="true" verbose="true">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix=".php">./tests</directory>
      <directory suffix=".php">./src/vendor</directory>
    </exclude>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./</directory>
      <directory suffix="Tests.php">./</directory>
      <directory prefix="test-" suffix=".php">./</directory>
      <directory prefix="Test" suffix=".php">./</directory>
    </testsuite>
  </testsuites>
    <php>
        <const name="PHPUNIT_mock_pre_http_request_TESTSUITE" value="true"/>
        <const name="WP_TESTS_DOMAIN" value="example.com"/>
        <const name="WP_TESTS_EMAIL" value="admin@example.com"/>
        <const name="WP_TESTS_TITLE" value="mock_pre_http_request unittests"/>
        <const name="WP_PHP_BINARY" value="php"/>
        <env name="WP_TESTS_SKIP_INSTALL" value="1" />
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="/wp-config.php" />
        <env name="WP_PHPUNIT__DIR" value="www/wp-content/plugins/mock_pre_http_request/tests/" />
        <const name="USE_SQLITE" value="1" />
    </php>
</phpunit>
